name: Cleanup caches

on:
  pull_request:
    types: [closed]

permissions:
  actions: write
  contents: read

jobs:
  cleanup:
    uses: dallay/common-actions/.github/workflows/cleanup-cache.yml@main
    secrets: inherit
