name: Contributor Report

on:
  pull_request:
    types: [opened, reopened, synchronize, edited]

permissions:
  contents: read
  pull-requests: write

jobs:
  report:
    uses: dallay/common-actions/.github/workflows/contributor-report.yml@main
    secrets: inherit
