name: Greetings

on: [pull_request_target, issues]

permissions:
  issues: write
  pull-requests: write

jobs:
  greet:
    uses: dallay/common-actions/.github/workflows/greetings.yml@main
    secrets: inherit
