name: Lint PR title

on:
  pull_request_target:
    types: [opened, edited, synchronize]

permissions:
  pull-requests: write

jobs:
  lint:
    uses: dallay/common-actions/.github/workflows/semantic-pr.yml@main
    secrets: inherit
